.header {
  justify-content: center;
  height: 15%;
}

h1 {
  font-size: 40px;
  font-weight: 500;
  padding-left: 1.2rem;
  color: rgb(155, 34, 149);
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

