<form>
    <h1>Criando Turma</h1>

    <div class="forms">
        <mat-form-field class="form">
            <mat-label>Nome da Turma</mat-label>
            <textarea [(ngModel)]="turma.nome" name="turma.nome" matInput placeholder="Ex. 3° Ano B"></textarea>
        </mat-form-field>

        <mat-form-field class="form">
            <mat-label>Codigo</mat-label>
            <textarea [(ngModel)]="turma.codigo" name="turma.codigo" matInput placeholder="Ex. 30102"></textarea>
        </mat-form-field>
    </div>

    <div class="buttons">
        <button mat-raised-button color="primary" (click)="create()">Criar</button>
        <button mat-raised-button routerLink="" color="warn">Cancelar</button>
    </div>
</form>